body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d3434;
    color: #333;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: rgb(219, 230, 72);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;

}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f4f4f4;
}

section h2 {
    margin-top: 0;
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background: #007BFF;
    color: white;
}


.icon {
    width: 40px;
    height: 40px;
}


.sidebar-link{ 
    position: fixed;
    top: 20px;
    left: 20px;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.report-Container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.chart-container {
    width: 100%; 
    max-width: 1200px; 
    margin-top: 20px;
    height: auto;
}

.chart {
    width: 100%; 
    height: 500px;
    margin: 20px 0;
    background-color:antiquewhite !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: "Bokor", system-ui;
    color: black;
    
}

.charts-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; 
    margin-top: 20px;
    font-family: "Bokor", system-ui;
    
}

.chart2 {
    width: 48%; 
    height: 500px;
    margin-top: 20px;
    background-color:antiquewhite !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: "Bokor", system-ui;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.idf{
    height: 50px;
}

a{
    text-decoration: none;
    color: #333;
}

h3{
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
    
}

#heading{
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;

}